[submodule "Hydro/vendor/spdlog"]
	path = Hydro/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Hydro/vendor/GLFW"]
	path = Hydro/vendor/GLFW
	url = https://github.com/Zokerus/glfw
